[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "matter"]
	path = matter
	url = https://github.com/kuwisdelu/matter
	shallow = true
	registered = true
